.card-list {
  margin-top: 80px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.card-list__grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 30px;
  display: grid;
  padding: 0;

}

@media screen and (max-width: 1200px) {
  .card-list__grid {
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
  }
}

@media screen and (max-width: 800px) {
  .card-list__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px 24px;
  }
}
