.filter {
padding: 30px;
display: flex;
justify-content: center;
align-items: baseline;
max-width: 100%;
background-color: #333333;
opacity: .7;
}

.filter__label{
    color: white;
    font-size: 1.5em;
    padding: 5px;
}